<!doctype html>
<html>
<head>
<script src="js/underscore.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/json2.js"></script>
<script src="js/backbone.js"></script>
<style>
#error, #success {
    display: none;
}
#success { color: darkgreen; }
#error { color: darkred; }
.block {
    margin: auto;
    width: 200px;
}
</style>
</head>
<body>

<div id="block" class="block">
</div>

<!-- Блок ввода имени пользователя -->
<script type="text/template" id="start"> 
    <div class="start"> 
        <div class="userplace">
            <label for="username">Имя пользователя: </label>
            <input type="text" id="username" />
        </div>
        <div class="buttonplace">
            <input type="button" value="Проверить" />
        </div>
    </div>
</script>

<!-- Блок ошибки -->
<script type="text/template" id="error">
    <div class="error">
        Ошибка. Пользователь  <%= username %> не найден.
        <a href="#!/">Go back</a>
    </div>
</script>

<!-- Блок удачи -->
<script type="text/template" id="success">
    <div class="success">
        Пользователь <%= username %> найден.
        <a href="#!/">Go back</a>
    </div>        
</script>

<script>

var AppState = { username: "" };

var Start = Backbone.View.extend({
    el: $("#block"), // DOM элемент widget'а
    template: _.template(this.$('#start').html()),
    render: function () {
        this.$el.html(this.template());
    },

    events: {
        "click input:button": "check", // Обработчик клика на кнопке "Проверить"
        "keyup input:text": "keycheck"   // Обработчик нажатия кнопки
    },

    keycheck: function () {
        if(event.keyIdentifier == "Enter")
            this.check();
    },
    check: function () {
        if (this.$("input:text").val() == "test") // Проверка текста
            router.navigate("!/success", true); // переход на страницу success
        else
            router.navigate("!/error", true); // переход на страницу error
    }
});

var Success = Backbone.View.extend({
    el: $("#block"), // DOM элемент widget'а

    template: _.template(this.$('#success').html()),

    render: function () {
        this.$el.html(this.template(AppState));
    }
});

var Error = Backbone.View.extend({
    el: $("#block"), // DOM элемент widget'а

    template: _.template(this.$('#error').html()),

    render: function () {
        this.$el.html(this.template(AppState));
    }
});

Views = { 
    start: new Start(),
    success: new Success(),
    error: new Error()
};

var AppRouter = Backbone.Router.extend({
    routes: {
        "": "start", // Пустой hash-тэг
        "!/": "start", // Начальная страница
        "!/success": "success", // Блок удачи
        "!/error": "error" // Блок ошибки
    },

    start: function () {
        Views.start.render();
    },

    success: function () {
        Views.success.render();
    },

    error: function () {
        Views.error.render();
    }
});
var router = new AppRouter();

Backbone.history.start();

</script>


</body></html>
